.images {
  object-fit: contain;
}

.errmsg {
  color: red;
}

.app-check {
  height: 15px;
  width: 15px;
  margin: 1%;
}

.nav {
  background-color: rgb(242, 98, 62);
}

.productBtn {
  background-color: rgb(242, 98, 62);
  border: 2px solid transparent;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px 0;
  transition: all linear;
  font-family: 'Edu TAS Beginner', cursive;
}

.productBtn:hover {
  background-color: white;
  border: 2px solid rgb(242, 98, 62);
  color: rgb(242, 98, 62);
  transition: all linear 0.5s;
}

.brand {
  color: rgb(242, 98, 62);
  font-family: 'Edu TAS Beginner', cursive;

}

.brand_title {
  font-size: 14px;
}

.nav-link,
.navbar-brand {
  font-size: 20px;
  font-family: 'Edu TAS Beginner', cursive;
}

.navbar-brand :hover {
  text-shadow: 2px 2px 2px red;
}

.nav-link:hover {
  text-shadow: 2px 2px 2px red;
}

.product_title {
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 19px;
}

.register {
  font-family: 'Edu TAS Beginner', cursive;
  font-weight: bold
}

.totalPrice {
  background: rgb(242, 98, 62);
}

.wrapperModal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
}

.updateCart {
  width: 500px;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.productId {
  font-family: 'Edu TAS Beginner', cursive;
  color: rgb(242, 98, 62);
}

.changeableaImg {
  width: 150px;
  border-radius: 10px;
}

.leftLine {
  position: absolute;
  width: 10px;
  height: 70px;
  background: rgb(242, 98, 62);
  color: transparent;
  margin-left: -10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.close {
  display: flex;
  justify-content: center;
  width: 25px;
  border-radius: 50%;
  border: 2px solid rgb(215, 215, 215);
  color: rgb(215, 215, 215);
  transition: all linear 0.5s;
  background: transparent
}

.close:hover {
  cursor: pointer;
  border: 2px solid black;
  color: black;
  transition: all linear 0.5s;
}
.shadow{
  /* position: absolute; */
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,0.5);
}